<div class="body">
  <nav class="navbar navbar-expand-lg" style="background-color: #0153d6;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="color:white;font-weight:600;">Employee Manager</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav nav-pills nav-fill">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" id="home" href="#" style="color:white;font-weight:500;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="login" routerLink="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="register" routerLink="/register">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="container-fluid">
    <span>
      <div class="mt-2 p-4">
        <h1 class="fa fa-user fa-lg"> &nbsp; Employees</h1>
      </div>
    </span>

    <!--search-->
    <div id="searchBox">
      <section>
        Search : <input type="text" [(ngModel)]="filterBy" placeholder="filterBy" (keyup)="filter()">
      </section>
      <span id="addBtnPlus"><i class="fa fa-plus-square fa-lg" (click)="addNewEmployee()"></i>&nbsp;Add New Employee</span>
    </div>

    <div class="outer">
      <mat-card class="example-card" *ngFor="let x of filteredData" >
        <mat-card-header>
          <div>
            <!-- <button (click)="openDialog(x)">Dialog</button> -->
          </div>
          <mat-card-title>{{x.name}}</mat-card-title>
          <span id="editBtn">
            <!-- <i class="fa fa-pencil-square-o" (click)="editBoxDialog(x)"></i> -->
            <mat-icon (click)="editBoxDialog(x)">edit</mat-icon>
             <!-- <i class="fa fa-pencil-square-o" [routerLink]="['/user',x.id]"></i>  -->
            </span>
        </mat-card-header>
        <img mat-card-image
          src="assets/img2.png" width="200" alt="old woman user pictures anna litviniuk icon person icon" alt="Employee">
        <mat-card-content>
          <div><strong>City:</strong> {{x.city}}</div>
          <div><strong>Street:</strong> {{x.street}}</div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="viewEmployeeDetails(x)">VIEW</button>&nbsp;
          <button mat-raised-button color="warn">DELETE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5,10,25,100]" aria-label="Select Page">
  </mat-paginator>
</div>
