.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 43% !important;
    left: 50% !important;
    border: 3px solid;
    border-color: #000000 #000000 transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent #ff0000 #ff0000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }
  .loader::before {
    width: 32px;
    height: 32px;
    border-color: #000000 #000000 transparent transparent;
    animation: rotation 1.5s linear infinite;
  }
      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
      
      
@media screen and (min-width:250px) {

    .container-fluid>span>#divBox {

        position: relative;
        width: 100%;
        margin-top: 1.1rem;
        font-size: xx-small;
    }

    #paginatorList {
        cursor: pointer;
    }

    #editBtn>mat-icon {
        cursor: pointer;
    }

    #settingIcon {
        cursor: pointer;
    }

    #icon {
        cursor: pointer;
    }

    #searchBox {
        float: right;
        margin-top: -1.8px;
        margin-right: -17px;
    }

    #searchBox>section>input {
        width: 60%;
    }

    #addBtnPlus {
        font-size: xx-small;
        background-image: linear-gradient(rgb(142, 0, 142), rgb(52, 52, 223));
        color: white;
        border: 1px solid rgb(186, 171, 171);
        border-radius: 5px;
        padding: 3px;
    }

    #addBtnPlus:hover {
        background-image: linear-gradient(#fb105a, #681185);
        cursor: pointer;
    }

    img {
        width: 21%;
        margin-left: 10px;
        margin-top: 9px;
    }

    mat-card-actions {
        margin-left: -1px;

        #viewBtn,
        #deleteBtn {
            width: 20px;
            height: 20px;
            line-height: 20px;
            min-height: 20px;
            vertical-align: top;
            font-size: 10px;
            padding: 0 0;
            margin: 0;
        }
    }

    mat-card-content {
        font-size: xx-small;
        font-family: cursive;
        margin-top: 5px;
        letter-spacing: 2px;
        line-height: 15px;
    }

    mat-card {

        margin-top: 12px;
        width: 70%;

        mat-icon {
            position: absolute;
            right: -2px;
            float: right;
            margin-top: 9px;
            color: white;
            font-size: smaller;
        }

        mat-card-header {

            border: 2px solid #156bf8;
            height: 2rem;
            border-radius: 3px;
            margin-left: -1px;
            background-color: #303F9F;
            color: white;

            mat-card-title {

                font-size: xx-small;
                margin-top: -18px;
                margin-left: -6px;
                letter-spacing: 2px;
                font-family: cursive;
            }
        }
    }

    mat-toolbar {
        background-image: linear-gradient(180deg, #1264ef, #000 100%, #ff8100 0);
        position: relative;
        display: flex;
        color: white;
        padding-left: 0px;
        padding-right: 0px;

        .user-info {
            position: absolute;
            right: 12px;
        }

        mat-toolbar-row {
            span {
                font-family: sans-serif;
                font-size: x-small;
                display: block;
                font-family: cursive;
            }
        }
    }

    mat-sidenav-container {

        height: 90vh;
        width: 100%;

        mat-sidenav {
            color: white;
            background-color: #182b3a;
            background-image: linear-gradient(315deg, #008eff 0%, #00060a 74%);
            font-size: smaller;
            width: 25%;
            text-align: center;

            mat-list {
                font-size: smaller;
            }
        }
    }

    #paginator {
        margin-left: auto;
        margin-right: auto;
        margin-top: 11px;
        margin-bottom: 1.2rem;
    }

    #paginator>.col-md-12>.form-inline {
        margin-right: 6px;
        font-family: ui-sans-serif;
    }

    #paginator>.col-md-12>.form-inline>.form-control {
        font-size: small;
    }

    #paginator>.col-md-12>.btn-group {
        height: 34px;
        font-family: fantasy;
    }

    ::ng-deep .mat-mdc-paginator-outer-container {
        font-size: xx-small;
    }

    ::ng-deep .mat-mdc-paginator-range-actions {
        font-size: xx-small;
    }

    #paginator {
        margin-top: 2rem;
    }
}

@media screen and (min-width:400px) {

    mat-toolbar {
        mat-toolbar-row {
            span {
                font-size: 11px;
                margin-left: 4px;
                font-family: cursive;
            }
        }
    }

    #searchBox {
        font-size: 11px;
        margin-top: -5.5px;
        margin-right: -20px;
    }

    #searchBox:hover {
        color: #082d6c;
    }

    #searchBox>section>input:hover {
        border: 2px solid rgb(4, 35, 146);
        transform: scale(1.04);
    }

    #employeeTag {
        font-size: 13px;
        margin-left: 1rem;
    }

    #addBtnPlus {
        font-size: 10px;
        margin-left: 0.7rem;
    }

    mat-card {
        border: 1px solid #bcb8b8;
        box-shadow: 3px 5px 6px 0px #210d0d;
        width: 70%;
        display: inline-block;
        margin-right: 23px;
        left: 13px;
        margin-top: 25px;
    }

    mat-card:hover {
        // background-color: rgb(170, 255, 0);
        background-image: linear-gradient(45deg, #f64e86, #4557f4);
        color: white;
    }

    #editBtn>mat-icon:hover {
        transform: scale(1.1);
        color: #ca1246;
    }

    #paginator {
        margin-top: 2rem;
    }
}

@media screen and (min-width:490px) {

    mat-card {
        border: 1px solid #bcb8b8;
        box-shadow: 3px 5px 6px 0px #210d0d;
        width: 45%;
        display: inline-block;
        margin-right: 23px;
        left: 13px;
        margin-top: 25px;
    }

    mat-toolbar {
        mat-toolbar-row {
            span {
                font-size: 13px;
                margin-left: 4px;
                font-family: cursive;
            }
        }
    }

    #paginator {
        margin-top: 2rem;
    }

}

@media screen and (min-width:550px) {

    #searchBox {
        font-size: 11px;
        margin-top: -5px;
        margin-right: -23px;
    }

    mat-toolbar {
        mat-toolbar-row {
            span {
                font-size: 13px;
                margin-left: 4px;
                font-family: cursive;
            }
        }
    }

    #employeeTag {
        font-size: 15px;
        margin-top: 2.9px;
        margin-left: 1rem;
    }

    #addBtnPlus {
        font-size: 12px;
        margin-left: 0.7rem;
        position: relative;
        display: inline-block;
        margin-top: 4px;
    }

    mat-card {
        border: 1px solid #bcb8b8;
        box-shadow: 3px 5px 6px 0px #210d0d;
        width: 44%;
        display: inline-block;
        margin-right: 23px;
        left: 13px;
        margin-top: 25px;
    }

    #paginator {
        margin-top: 2rem;
    }
}

@media screen and (min-width:624px) {

    #searchBox {
        font-size: 11px;
        margin-top: -5px;
        margin-right: -15px;
    }

    mat-toolbar {
        mat-toolbar-row {
            span {
                font-size: 12px;
                margin-left: 4px;
                font-family: cursive;
            }
        }
    }

    #icon {
        font-size: 22px;
    }

    #employeeTag {
        font-size: 16px;
        margin-top: 0.9px;
    }

    #addBtnPlus {
        font-size: 12px;
        position: relative;
        display: inline-block;
        margin-top: 4px;
    }

    mat-card {
        border: 1px solid #bcb8b8;
        box-shadow: 3px 5px 6px 0px #210d0d;
        position: relative;
        display: inline-block;
        width: 46%;
        margin-right: 16px;
        margin-top: 25px
    }

    #paginator {
        margin-top: 2rem;
    }
}

@media screen and (min-width:850px) {

    #searchBox {
        font-size: 12px;
        margin-top: -5px;
        margin-right: -14px;
    }

    mat-toolbar {
        mat-toolbar-row {
            span {
                font-size: 12px;
                margin-left: 4px;
                font-family: cursive;
            }
        }
    }

    mat-card {
        border: 1px solid #bcb8b8;
        box-shadow: 3px 5px 6px 0px #210d0d;
        position: relative;
        display: inline-block;
        width: 47%;
        margin-right: 17px;
        margin-top: 25px
    }

    #icon {
        font-size: 23px;
    }

    #employeeTag {
        font-size: 17px;
        margin-top: 0.9px;
    }

    #addBtnPlus {
        font-size: 13px;
        position: relative;
        display: inline-block;
        margin-top: 10px;
    }
}

@media screen and (min-width:900px) {

    #searchBox {
        font-size: 13px;
        margin-top: -5px;
        margin-right: -13px;
    }

    mat-toolbar {
        mat-toolbar-row {
            span {
                font-size: 13px;
                margin-left: 4px;
                font-family: cursive;
            }
        }
    }

    mat-card {
        border: 1px solid #bcb8b8;
        box-shadow: 3px 5px 6px 0px #210d0d;
        position: relative;
        display: inline-block;
        width: 47.5%;
        margin-right: 17px;
        margin-top: 25px
    }

    #icon {
        font-size: 24px;
    }

    #employeeTag {
        font-size: 18px;
        margin-top: 0.9px;
    }

    #addBtnPlus {
        font-size: 14px;
        position: relative;
        display: inline-block;
        padding: 1px 9px;
        margin-top: 10px;
    }
}

@media screen and (min-width:1075px) {

    #searchBox {
        font-size: 13px;
        margin-top: -2px;
        margin-right: -11px;

    }

    mat-toolbar {
        mat-toolbar-row {
            span {
                font-size: 14px;
                margin-left: 5px;
                font-family: cursive;
            }
        }
    }

    mat-card {
        border: 1px solid #bcb8b8;
        box-shadow: 3px 5px 6px 0px #210d0d;
        position: relative;
        display: inline-block;
        width: 31%;
        margin-right: 15px;
        margin-top: 25px;

    }

    #icon {
        font-size: 24px;
    }

    #employeeTag {
        font-size: 19px;
        margin-top: 5.9px;
        margin-left: 1rem;
    }

    #addBtnPlus {
        font-size: 13px;
        position: relative;
        display: inline-block;
        padding: 1px 9px;
        margin-top: 21px;
        margin-left: 0.6rem;
    }
}

@media screen and (min-width:1215px) {

    #searchBox {
        font-size: 15px;
        margin-top: -2px;
        margin-right: -11px;
    }

    mat-toolbar {
        mat-toolbar-row {
            span {
                font-size: 14px;
                margin-left: 6px;
                font-family: cursive;
            }
        }
    }

    mat-card {
        border: 1px solid #bcb8b8;
        box-shadow: 3px 5px 6px 0px #210d0d;
        position: relative;
        display: inline-block;
        width: 30.5%;
        margin-right: 17px;
        margin-top: 25px;
    }

    #icon {
        font-size: 25px;
    }

    #employeeTag {
        font-size: 20px;
        margin-top: 5.9px;
        margin-left: 1rem;
    }

    #addBtnPlus {
        font-size: 14px;
        position: relative;
        display: inline-block;
        padding: 1px 9px;
        margin-top: 21px;
        margin-left: 0.6rem;
    }
}

@media screen and (min-width:1315px) {

    #searchBox {
        font-size: 15px;
        margin-top: -2px;
        margin-right: -11px;
    }

    mat-toolbar {
        mat-toolbar-row {
            span {
                font-size: 14px;
                margin-left: 6px;
                font-family: cursive;
            }
        }
    }

    mat-card {
        border: 1px solid #bcb8b8;
        box-shadow: 3px 5px 6px 0px #210d0d;
        position: relative;
        display: inline-block;
        width: 22%;
        margin-right: 17px;
        margin-top: 25px;
    }

    #icon {
        font-size: 25px;
    }

    #employeeTag {
        font-size: 20px;
        margin-top: 5.9px;
        margin-left: 1rem;
    }

    #addBtnPlus {
        font-size: 14px;
        position: relative;
        display: inline-block;
        padding: 1px 9px;
        margin-top: 21px;
        margin-left: 0.6rem;
    }

    mat-card {
        mat-card-header {
            mat-card-title {
                font-size: smaller;
            }
        }
    }

    mat-card-content {
        font-size: smaller;
        margin-top: 10px;
    }
}