<div class="w-100 outerBody">
    <div class="container">
        <!-- <h3 class="text-center py-1 mt-4 regisText">Register</h3> -->
        <div class="text-center mt-4 mb-3 bg-primary-subtle text-emphasis-primary">
            <span class="fs-3">Register</span>
        </div>
        <mat-form-field appearance="outline">
            <mat-label>FULL NAME</mat-label>
            <input matInput placeholder="Enter Full Name" />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>USER NAME</mat-label>
            <input matInput placeholder="Enter User Name" />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>EMAIL</mat-label>
            <input matInput placeholder="Enter Email" />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>PHONE</mat-label>
            <input matInput placeholder="Enter Phone Number" />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>WEBSITE</mat-label>
            <input matInput placeholder="Enter Website" />
        </mat-form-field>
    <div class="example-container">
        <mat-form-field appearance="outline" class="w-50">
            <mat-label>CITY</mat-label>
            <input matInput placeholder="Enter City" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="ms-4">
            <mat-label>STREET</mat-label>
            <input matInput placeholder="Enter Street" />
        </mat-form-field>
    </div>
        <div>
            <button mat-raised-button color="primary" class="mt-2 w-100">Register</button>
            <button mat-raised-button color="warn" class="mt-2 w-100" routerLink="/login">Already Have Account? Login</button>
        </div>
    </div>
</div>