<mat-card class="example-card" id="body">
    <mat-card-header>
        <div>New Employee Form</div>
    </mat-card-header>

<mat-dialog-content>

    <form [formGroup]="addForm" (ngSubmit)="formSubmit()">

        <mat-form-field appearance="outline">
            <mat-label>Full Name</mat-label>    
            <input matInput formControlName="Name" placeholder="Enter Name.."/>
            <mat-error *ngIf="addForm.controls?.['Name']?.hasError('required')">
                {{getNameErrorMessage()}}
            </mat-error>
        </mat-form-field>
        

        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>    
            <input matInput formControlName="Email" placeholder="Enter Email.."/>
            <mat-error *ngIf="addForm.controls?.['Email']?.hasError('required') ||
                addForm.controls?.['Email']?.hasError('email')">
                {{getEmailErrorMessage()}}
            </mat-error>
        </mat-form-field>    
        
        <mat-form-field appearance="outline">
            <mat-label>Gender</mat-label>    
            <mat-select formControlName="Gender">
                <mat-option *ngFor="let gender of ['Male','Female','Other']" [value]="gender">
                  {{gender}}
                </mat-option>
              </mat-select>   
              <mat-error *ngIf="addForm.controls?.['Gender']?.hasError('required')">
                {{getGenderErrorMessage()}}
            </mat-error>
        </mat-form-field> 
        
        <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>    
            <input matInput formControlName="Address" placeholder="Enter Address.."/>
            <mat-error *ngIf="addForm.controls?.['Address']?.hasError('required')">
                {{getAddressErrorMessage()}}
            </mat-error>
        </mat-form-field>  

        <mat-form-field appearance="outline">
            <mat-label>Phone</mat-label>    
            <input matInput formControlName="Phone" placeholder="Enter Phone.."/>
            <mat-error *ngIf="addForm.controls?.['Phone']?.hasError('required')">
                {{getPhoneErrorMessage()}}
            </mat-error>
        </mat-form-field> 
        
        <mat-form-field appearance="outline">
            <mat-label>Joining Date</mat-label>
            <input matInput [matDatepicker]="picker" 
                formControlName="JoiningDate" (dateInput)="joiningDate(picker)" 
                    [(ngModel)]="this.modifiedAddJoiningDate">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-hint>M/DD/YYYY</mat-hint>
            <mat-error *ngIf="addForm.controls?.['JoiningDate']?.hasError('required')">
                {{getJoiningDateErrorMessage()}}
            </mat-error>
        </mat-form-field>

        <div class="btnDiv">
            <button type="submit" mat-raised-button color="primary" [disabled]="addForm.invalid">Submit</button>&nbsp;
            <button type="button" mat-raised-button color="warn" id="ClearBtn" (click)="closeWindow()">Close</button>
        </div>
        
    </form>

</mat-dialog-content>

<mat-dialog-actions>
    
</mat-dialog-actions>
</mat-card>