@media screen and (min-width:250px) {
    #body {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        display: block;
    }

    .mat-mdc-card-header {

        padding: 10px;
        text-align: center;
        position: relative;
        border-radius: 4px;
        margin-left: 7px;
        margin-right: 7px;
        margin-top: 7px;
        background-color: #0e3880;
        color: white;
        display: block;

    }

    mat-form-field {
        width: 100%;
    }

    mat-dialog-content {

        mat-form-field {
            font-size: xx-small;
            margin-bottom: -20px;
            margin-top: 6px;
        }
    }

    .btnDiv {
        margin-top: 1rem;
    }

    #ClearBtn{
        width:50%;
    }
}