<span class="loader" [hidden]="spinnerLoading"></span>
<div class="body" [hidden]="!spinnerLoading">
    <mat-card>
        <mat-card-content>
            <mat-card-header>
                <mat-card-title>Login</mat-card-title>
            </mat-card-header>
            <div class="alert alert-success mt-2 mb-1" role="alert" [hidden]="successMsg">
                {{this.responseMsg}}
            </div>

            <div class="alert alert-danger mt-2 mb-1" role="alert" [hidden]="failMsg">
                {{this.responseMsg}}
            </div>

            <form [formGroup]="loginForm" (ngSubmit)="loginFormSubmit()">

                <mat-form-field appearance="outline">
                    <mat-label><mat-icon>email</mat-icon>&nbsp;Email</mat-label>
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-error
                        *ngIf="loginForm.controls?.['email']?.hasError('required') || loginForm.controls?.['email']?.hasError('email')"><strong>{{getEmailErrorMessage()}}</strong></mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label><mat-icon>lock</mat-icon>&nbsp;Password</mat-label>
                    <input matInput placeholder="Password" formControlName="password">
                    <mat-error
                        *ngIf="loginForm.controls?.['password']?.hasError('required')"><strong>{{getPasswordErrorMessage()}}</strong></mat-error>

                </mat-form-field>

                <span id="btnBox">
                    <button type="submit" mat-raised-button [disabled]="loginForm.invalid" color="primary" >LOG
                        IN</button>
                    <button type="button" mat-raised-button color="accent" (click)="moveToRegister()">Don't
                        have an Account ? Click to Register</button>
                </span>

            </form>
        </mat-card-content>
    </mat-card>
</div>


